In [1]:
pip install alpha_vantage

Requirement already satisfied: alpha_vantage in c:\users\admin\anaconda3\lib\site-packages (2.3.1)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: requests in c:\users\admin\anaconda3\lib\site-packages (from alpha_vantage) (2.25.1)
Requirement already satisfied: aiohttp in c:\users\admin\anaconda3\lib\site-packages (from alpha_vantage) (3.8.3)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in c:\users\admin\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (2.1.1)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\admin\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\admin\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (1.8.2)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\admin\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\admin\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (1.3.1)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\admin\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (6.0.4)
Requirement already satisfied: attrs>=17.3.0 in c:\users\admin\anaconda3\lib\site-packages (from aiohttp->alpha_vantage) (20.3.0)
Requirement already satisfied: idna>=2.0 in c:\users\admin\anaconda3\lib\site-packages (from yarl<2.0,>=1.0->aiohttp->alpha_vantage) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\admin\anaconda3\lib\site-packages (from requests->alpha_vantage) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests->alpha_vantage) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests->alpha_vantage) (1.26.4)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from alpha_vantage.timeseries import TimeSeries
import numpy as np

In [3]:
API_key='LCGAAANH9ATJWBC2'
ts = TimeSeries(key=API_key, output_format='pandas')

In [4]:
class ScriptData:
    def __init__(self, script):
        self.script = script
    
   # @classmethod
    def fetch_intraday_data(self):
        data=ts.get_intraday(self.script)
        return data
    def convert_intraday_data(self):
        df=pd.DataFrame(self.fetch_intraday_data())    
        return df

In [18]:
script_data=ScriptData('GOOGL')
script_data.fetch_intraday_data()
script_data.convert_intraday_data()
data=ts.get_intraday('GOOGL')
data

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\internals\construction.py:309: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

(                     1. open  2. high  3. low  4. close  5. volume
 date
 2022-12-23 20:00:00  89.1100  89.1200  89.050   89.0500     2135.0
 2022-12-23 19:45:00  89.0900  89.0900  89.090   89.0900      140.0
 2022-12-23 19:30:00  89.1900  89.1900  89.190   89.1900     1672.0
 2022-12-23 19:15:00  89.0900  89.0900  89.090   89.0900      101.0
 2022-12-23 19:00:00  89.0500  89.0900  89.050   89.0900     1861.0
 ...                      ...      ...     ...       ...        ...
 2022-12-22 12:00:00  87.1933  87.3599  87.070   87.3400   588398.0
 2022-12-22 11:45:00  87.2350  87.3300  87.080   87.1918   783729.0
 2022-12-22 11:30:00  87.3400  87.4458  87.209   87.2350   528900.0
 2022-12-22 11:15:00  87.1250  87.5850  87.100   87.3400   711610.0
 2022-12-22 11:00:00  87.2700  87.4400  87.070   87.1300   749132.0

 [100 rows x 5 columns],
 {'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
  '2. Symbol': 'GOOGL',
  '3. Last Refreshed': '2022-12-23 20:00:00',
  '4. Interval': '15min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'})

In [6]:
try:
    ts.get_intraday('NVDA')
    print('True')
except ValueError:
    print('False')

True

In [7]:
try:
    ts.get_intraday('GOOGL')
    print('True')
except ValueError:
    print('False')

True

In [8]:
df=data[0]
df

                     1. open  2. high  3. low  4. close  5. volume
date
2022-12-23 20:00:00  89.1100  89.1200  89.050   89.0500     2135.0
2022-12-23 19:45:00  89.0900  89.0900  89.090   89.0900      140.0
2022-12-23 19:30:00  89.1900  89.1900  89.190   89.1900     1672.0
2022-12-23 19:15:00  89.0900  89.0900  89.090   89.0900      101.0
2022-12-23 19:00:00  89.0500  89.0900  89.050   89.0900     1861.0
...                      ...      ...     ...       ...        ...
2022-12-22 12:00:00  87.1933  87.3599  87.070   87.3400   588398.0
2022-12-22 11:45:00  87.2350  87.3300  87.080   87.1918   783729.0
2022-12-22 11:30:00  87.3400  87.4458  87.209   87.2350   528900.0
2022-12-22 11:15:00  87.1250  87.5850  87.100   87.3400   711610.0
2022-12-22 11:00:00  87.2700  87.4400  87.070   87.1300   749132.0

[100 rows x 5 columns]

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.columns = df.columns.str.replace(' ', '')
df.loc[:,"4.close"]

date
2022-12-23 20:00:00    89.0500
2022-12-23 19:45:00    89.0900
2022-12-23 19:30:00    89.1900
2022-12-23 19:15:00    89.0900
2022-12-23 19:00:00    89.0900
                        ...
2022-12-22 12:00:00    87.3400
2022-12-22 11:45:00    87.1918
2022-12-22 11:30:00    87.2350
2022-12-22 11:15:00    87.3400
2022-12-22 11:00:00    87.1300
Name: 4.close, Length: 100, dtype: float64

In [11]:
df['pandas_SMA_3'] = df.iloc[:,1].rolling(window=5).mean()

In [12]:
df.loc[:,"pandas_SMA_3"]

date
2022-12-23 20:00:00         NaN
2022-12-23 19:45:00         NaN
2022-12-23 19:30:00         NaN
2022-12-23 19:15:00         NaN
2022-12-23 19:00:00    89.11600
                         ...
2022-12-22 12:00:00    87.17998
2022-12-22 11:45:00    87.27398
2022-12-22 11:30:00    87.36514
2022-12-22 11:15:00    87.42214
2022-12-22 11:00:00    87.43214
Name: pandas_SMA_3, Length: 100, dtype: float64

In [13]:
def indicator1(f,timeperiod):
    p=ts.get_intraday(f)
    df=p[0]
    df['pandas_SMA'] = df.iloc[:,1].rolling(window=timeperiod).mean()
    return df.loc[:,"pandas_SMA"]

In [16]:
indicator1('GOOGL',5)

date
2022-12-23 20:00:00         NaN
2022-12-23 19:45:00         NaN
2022-12-23 19:30:00         NaN
2022-12-23 19:15:00         NaN
2022-12-23 19:00:00    89.11600
                         ...
2022-12-22 12:00:00    87.17998
2022-12-22 11:45:00    87.27398
2022-12-22 11:30:00    87.36514
2022-12-22 11:15:00    87.42214
2022-12-22 11:00:00    87.43214
Name: pandas_SMA, Length: 100, dtype: float64

In [17]:
indicator1('AAPL',5)

date
2022-12-23 20:00:00          NaN
2022-12-23 19:45:00          NaN
2022-12-23 19:30:00          NaN
2022-12-23 19:15:00          NaN
2022-12-23 19:00:00    131.75000
                         ...
2022-12-22 12:15:00    131.14262
2022-12-22 12:00:00    131.29142
2022-12-22 11:45:00    131.42292
2022-12-22 11:30:00    131.62866
2022-12-22 11:15:00    131.68818
Name: pandas_SMA, Length: 100, dtype: float64